@import 'tailwindcss';
@import 'fumadocs-ui/css/catppuccin.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';
@import "tw-animate-css";

.bg-radial-dark {
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1), transparent 70%);
  }

.fill-primary path {
    fill: #cba6f7;
}

.blur-background {
    filter: blur(40px);
    opacity: 0.3;
}

html {
  font-size: 16px;
  line-height: 1.6;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.01em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

html[lang="vi"] p,
html[lang="vi"] li {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

html[lang="en"] p,
html[lang="en"] li {
  font-family: 'Tomorrow', sans-serif;
  font-weight: 400;
}


html[lang="vi"] h1,
html[lang="vi"] h2,
html[lang="vi"] button,
html[lang="vi"] .font-medium,
html[lang="vi"] a {
  font-family: 'IBM_Plex_Mono', sans-serif !important;
}

html[lang="en"] h1,
html[lang="en"] h2,
html[lang="en"] button,
html[lang="en"] .font-medium,
html[lang="en"] a {
  font-family: 'Tomorrow', sans-serif !important;
}


a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: #cba6f7;
}

::selection {
  background: transparent;
  color: #94e2d5;
}